<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <icon>
      <etp>
      <small-icon>${application.icon.small_icon}</small-icon>
      </etp>
      <etp>
      <large-icon>${application.icon.large_icon}</large-icon>
      </etp>
   </icon>

   <etp>
   <display-name>${application.display_name}</display-name>
   </etp>
 
   <etp>
   <description>${application.description}</description>
   </etp>

   <etp>
   <distributable>
   <!--
      ${application.distributable}
      This servlet is distributable by having this tag.
    -->
   </distributable>
   </etp>
 
   <etp>
   <context-param>
      <param-name>${name:web.context_param.value.@}</param-name>
      <param-value>${value}</param-value>
      <etp>
         <description>${web.context_param.description.@}</description>
      </etp>
   </context-param>
   </etp>

   <etp>
   <listener>
      <listener-class>${name:web.listener.listener_class.@}</listener-class>
   </listener>
   </etp> 
 
   <servlet>
      <icon>
         <etp>
         <small-icon>${web.icon.small_icon}</small-icon>
         </etp>
         <etp>
         <large-icon>${web.icon.large_icon}</large-icon>
         </etp>
      </icon>
   
      <servlet-name>
         <etp>${web.servlet.name[info:web.servlet.name not set (see Servlet Name field in J2EE Servlet category), defaulting to servlet;servlet]}</etp>
      </servlet-name>
   
      <etp><display-name>${web.servlet.display_name}</display-name></etp>
   
      <etp><description>${web.servlet.description}</description></etp>
   
      <servlet-class>com.heirloomcomputing.etp.transaction.presentation.HTMLServlet</servlet-class>
   
      <etp><init-param>
         <param-name>${name:@}</param-name>
         <param-value>${value}</param-value>
      </init-param></etp>
  
      <etp><load-on-startup>${web.servlet.load_on_startup}</load-on-startup></etp>
   
      <etp>
      <run-as>
         <etp><description>${web.servlet.run_as.description}</description></etp>
         <role-name>${web.servet.run_as.role_name}</role-name>
      </run-as>
      </etp>
  
      <etp>
      <security-role-ref>
         <etp><description>${web.security_role_ref.description}</description></etp>
         <role-name>${web.security_role_ref.role_name}</role-name>
         <etp><role-link>${web.security_role_ref.role_link}</role-link></etp>
      </security-role-ref>
      </etp>
   </servlet>
 
   <etp><servlet-mapping>
      <servlet-name>${web.servlet.name[info:web.servlet.name not set (see Servlet Name field in J2EE Servlet category), defaulting to servlet;servlet]}</servlet-name>
      <url-pattern>${web.servlet_mapping.url_pattern[info:web.servlet_mapping.url_pattern not set (see URL Pattern field in J2EE Servlet category), default to /servlet;/servlet]}</url-pattern>
   </servlet-mapping></etp>
 
   <etp><session-config>
      <session-timeout>${web.session_config.session_timeout}</session-timeout>
   </session-config></etp>

   <etp><mime-mapping>
      <extension>${name:web.mime_mapping.extension.@}</extension>
      <mime-type>${value}</mime-type>
   </mime-mapping></etp>
 
   <etp><resource-env-ref>
      <etp><description>${web.resource_env_ref.@.description}</description></etp>
      <resource-env-ref-name>${name:web.resource_env_ref.@}</resource-env-ref-name>
      <resource-env-ref-type>${value}</resource-env-ref-type>
   </resource-env-ref></etp>
 
   <etp><resource-ref>
      <etp><description>${web.resource_ref.@.description}</description></etp>
      <res-ref-name>${name:web.resource_ref.@}</res-ref-name>
      <res-type>${web.resource_ref.@.type}</res-type>
      <res-auth>${web.resource_ref.@.auth}</res-auth>
      <etp><res-sharing-scope>${web.resource_ref.@.sharing_scope}</res-sharing-scope></etp>
   </resource-ref></etp>

   <login-config>
      <etp><auth-method>${web.login_config.auth_method}</auth-method></etp>
      <etp><realm-name>${web.login_config.realm_name}</realm-name></etp>
      <etp><form-login-config>
         <form-login-page>${web.login_config.form_login_config.login_page}</form-login-page>
         <form-error-page>${web.login_config.form_login_config.error_page}</form-error-page>
      </form-login-config></etp>
   </login-config>

   <etp>
      <security-role>
         <role-name>${name:application.security_role.@}</role-name>
         <description>${value}</description>
      </security-role>
   </etp>  
</web-app>
